@page "/product"


<div class="container-fluid">
    <div class="row">
        <div class="col">
            <CountryComponent></CountryComponent>
            <br />
            <ProductComponent></ProductComponent>
        </div>
    </div>
</div>


